body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://source.unsplash.com/1920x1080/?dark/black");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.gsc-control-cse {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  width: 60% !important;
  margin: auto !important;
  margin-top: -100px !important;
}

.gsc-search-button {
  outline: none !important;
  border: none !important;
}
